%blocks {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

.square_input {
  width: 100px;
  height: 100px;
  background-color: #61dafb;
  border-radius: 16px;
  text-align: center;
  font-size: 64px;
  vertical-align: center;
  user-select: none;
  cursor: pointer;
  color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.arg1 {
  @extend %blocks;
  padding: 0 20px 30px 0;
}

.arg2 {
  @extend %blocks;
  padding: 0 20px 15px 0;
}

.result {
  @extend %blocks;
  padding: 15px 20px 30px 0;
}

.operator {
  padding: 130px 0 15px 20px;
}
